
/**
 * Site header
 */
.site-header {
  z-index: 3;
  position: fixed;
  width: 100vw;
  padding: 0 10px;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  font-family: "Montserrat", sans-serif;
  color: #3F206E;
  font-size: 13px;
  letter-spacing: 4px;
  -webkit-box-shadow: 0px 0px 18px -2px #dedede;
  -moz-box-shadow: 0px 0px 18px -2px #dedede;
  box-shadow: 0px 0px 18px -2px #dedede; }
  .site-header .wrapper {
    padding-right: 40px; }
  .site-header a img {
    max-width: 80%; }

.site-title {
  font-size: 26px;
  line-height: 50px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  margin-right: 18px;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
    .site-nav .menu-icon:before {
    content: "";
    position: absolute;
    top: 0.75em;
    left: 9px;
    width: 1.4em;
    height: 0.425em;
    border-top: 0.78em double #3f206e;
    border-bottom: 0.23em solid #3f206e;}
  .site-nav .nav-link {
    color: #3F206E;
    line-height: 1.5;
    padding: 20px 6px 16px;
    border-bottom: 4px solid white;
    transition: border-bottom-color .4s ease;
    -webkit-transition: border-bottom-color .4s ease;
    text-align: center; }
    .site-nav .nav-link:hover {
      border-bottom-color: #3F206E;
      text-decoration: none; }
  @media screen and (max-width: 690px) {
    .site-nav {
      position: absolute;
      top: 10px;
      right: 20px;
      background-color: #fafafa;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }
