---
layout: default
title: NEWS
---
<div class="page-content cf">

  <div class="banner">
    <h1 class="page-heading">

    TALKING CIRCUITS

    </h1>

    <p>
      {{ "Movellus latest updates and more." | upcase }}
    </p>
  </div>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <h2>
                {{ post.title | upcase }}
            </h2>
            <span class="post-meta">
              {{ post.date | date: "%b %-d, %Y" | upcase }}

              {% if post.author %}
                  | {{ post.author | upcase }}
              {% endif %}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>

    <a class="rss-subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <p>
          {{ 'subscribe via RSS' | upcase }}
      </p>
    </a>

</div>