<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="/images/logo/mov-logo-min.png" alt="Homepage">
  </a>
  <nav class="site-nav">
    <div class="trigger">
      <a class="nav-link" href="/">
        <img src="/images/svg/home-icon.svg">
        <h1>Home</h1>
      </a>
      <a class="nav-link" href="/products">
        <img src="/images/svg/products-icon.svg">
        <h1>Products</h1>
      </a>
      <a class="nav-link" href="/technology">
        <img src="/images/svg/tech-icon.svg">
        <h1>Technology</h1>
      </a>
      <a class="nav-link" href="/company">
        <img src="/images/svg/company-icon.svg">
        <h1>Company</h1>
      </a>
      <a class="nav-link" href="https://press.movelluscircuits.com/">
        <img src="/images/svg/newsroom-icon.svg">
        <h1>Newsroom</h1>
      </a>
      <a class="nav-link" href="/contact">
        <img src="/images/svg/contact-icon.svg">
        <h1>Contact Us</h1>
      </a>
    </div>
  </nav>

</header>
