<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="/images/Movellus-01.jpg" id="brand-logo" alt="Homepage">
  </a>
  <nav class="site-nav">
    <div class="trigger">
      <a href="/">
        <div class="nav-link">
          <img src="/images/svg/home-icon.svg">
          <h1>Home</h1>
        </div>
      </a>
      <a href="/products">
        <div class="nav-link">
          <img src="/images/svg/products-icon.svg">
          <h1>Products</h1>
        </div>
      </a>
      <a href="/technology">
        <div class="nav-link tooltip" data-tooltip-content="#tooltip_content_technology">
          <img src="/images/svg/tech-icon.svg">
          <h1>Technology</h1>
        </div>
      </a>
      <a href="/company">
        <div class="nav-link tooltip" data-tooltip-content="#tooltip_content_company">
          <img src="/images/svg/company-icon.svg">
          <h1>Company</h1>
        </div>
      </a>
      <a href="https://press.movelluscircuits.com/">
        <div class="nav-link tooltip" data-tooltip-content="#tooltip_content_newsroom">
          <img src="/images/svg/newsroom-icon.svg">
          <h1>Newsroom</h1>
        </div>
      </a>
      <a href="/contact">
        <div class="nav-link">
          <img src="/images/svg/contact-icon.svg">
          <h1>Contact Us</h1>
        </div>
      </a>
    </div>
  </nav>

    <div class="tooltip_templates">
      <div id="tooltip_content_technology">
        <a href="/technology/#technology"><div>Technology</div></a>
        <a href="/technology/#applications"><div>Applications</div></a>
      </div>
      <div id="tooltip_content_company">
        <a href="/company/#timeline"><div>Timeline</div></a>
        <a href="/company/#management"><div>Management</div></a>
        <a href="/company/#board"><div>Board Of Directors</div></a>
        <a href="/company/#investors"><div>Investors</div></a>
      </div>
      <div id="tooltip_content_newsroom">
        <a href="https://press.movelluscircuits.com/"><div>Press (medium)</div></a>
        <a href="https://press.movelluscircuits.com/"><div>Blog</div></a>
      </div>
    </div>

</header>
