<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="/images/logo/mov-logo-min.png" alt="Homepage">
    </a>
    <nav class="site-nav">
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="trigger">
            <a class="nav-link" href="#tech"> {{ "technology" | upcase }}</a>
            <a class="nav-link" href="#hist"> {{ "history" | upcase }}</a>
            <a class="nav-link" href="#team"> {{ "team" | upcase }}</a>
            <a class="nav-link" href="#contact"> {{ "contact" | upcase }}</a>
            <a class="nav-link" href="https://press.movellus.com/"> {{ "press" | upcase }}</a>
      </div>
    </nav>

  </div>
</header>
