<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Montserrat' rel='stylesheet' type='text/css'>
<script>

$(document).ready(function(){
    $('#nav-icon').click(function(){
        $(this).toggleClass('open');
    });
});

    var placeholder_wallet = document.getElementById('gif-wallet'),
        placeholder_badges = document.getElementById('gif-badges'),
        placeholder_tomato = document.getElementById('gif-tomato');

    var gif_wallet = new Image,
        gif_badges = new Image,
        gif_tomato = new Image;

    gif_wallet.onload = function()
    { placeholder_wallet.src = this.src; }
    gif_wallet.src = 'http://movelluscircuits.com/images/gif/wallet.gif';

    gif_badges.onload = function()
    { placeholder_badges.src = this.src; }
    gif_badges.src = 'http://movelluscircuits.com/images/gif/badges.gif';

    gif_tomato.onload = function()
    { placeholder_tomato.src = this.src; }

    gif_tomato.src = 'http://movelluscircuits.com/images/gif/tomato.gif';

</script>
<script type="text/javascript">

  function initMap() {
    // Specify features and elements to define styles.
    var styleArray = [
      { "elementType": "geometry.fill",
        "stylers": [
                      { "visibility": "on" },
                      { "hue": "#7f00ff" }
                    ]
      },
      { "featureType": "road.local",
        "elementType": "geometry.fill",
        "stylers":  [
                      { "visibility": "on" },
                      { "color": "#8D7AA8" }
                    ]
      },
      { "featureType": "landscape.man_made",
        "elementType": "geometry.stroke",
        "stylers":  [
                      { "color": "#472B75" },
                      { "visibility": "on" },
                      { "weight": 0.1 }
                    ]
      },
      { "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers":  [
                      { "visibility": "on" },
                      { "color": "#3F206E" },
                      { "saturation": -53 },
                      { "lightness": 18 }
                    ]
      }
    ];

    var movLatLng = {lat: 42.2795502, lng: -83.7427918};
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: movLatLng,
      scrollwheel: false,
      // Apply the map style array to the map.
      styles: styleArray,
      zoom: 17
    });

    var marker = new google.maps.Marker({
      position: movLatLng,
      map: map,
      animation: google.maps.Animation.DROP,
      icon: "{{'/images/purple-marker.png' | prepend: site.baseurl }}",
      title: 'Movellus'
    });
  }

</script>
<script type="text/javascript">
    
    $(function(){
        $('.btn-more').on('click', function(e){
            e.preventDefault();
            $(this).find('span').toggle("visible invisible");
            $(this).parent().find('p').find('span').toggle("visible invisible")
        })
    });

</script>

<script>
  var target = $(window).height() * 2;
  var showing = true;

  var interval = setInterval(function() {

    if ($(window).scrollTop() > target) {
      if(showing)
          hide_banner();
      }else{
        if (!showing)
          show_banner();
      }
  }, 200);

  var hide_banner = function () {
    $('#home-banner').hide();
    $('#white').removeClass('box-shadow');
    showing = false;
  }

  var show_banner = function () {
    $('#home-banner').show();
    $('#white').addClass('box-shadow');
    showing = true;
  }
</script>

<script>
var $root = $('html, body');
$('a').click(function() {
    var href = $.attr(this, 'href');
    $root.animate({
        scrollTop: ($(href).offset().top - 50)
    }, 500, function () {
        window.location.hash = href;
    });
    return false;
});
</script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRIOY5vRxlSi-rRVwTnrFiNJTVyJVyQI0&callback=initMap">
</script>
