/**
 * Site header
 */
.site-header {
    padding: 10px; 
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    font-family: $strong-font-family;
    color: $brand-color;

    font-size: $nav-font-size;
    letter-spacing: $medium-kerning;

    // Positioning context for the mobile navigation icon
    position: relative;

    a img{
        max-width: 60%;
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .nav-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
        &:hover{
            background-color: $brand-color;
            color: white;
            text-decoration: none;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    padding: ($spacing-unit * 5) $spacing-unit ;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,228,240,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(234,228,240,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,228,240,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,228,240,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(234,228,240,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(234,228,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eae4f0', GradientType=0 );
    font-family: $strong-font-family;
    

    a{
        color: #3F206E;
        &:visited{
            color: #3F206E;
        }
    }
}

.footer-heading {
    font-size: 16px;
    text-align: center;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    // padding-top: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    display: block;
    margin-left: 0;
    list-style: none;

    > li {

        cursor: pointer;

        a{
            padding: 2 *$spacing-unit;
            margin: 0 auto;
            text-align: center;
            font-family: $strong-font-family;


            &:hover{
                text-decoration: none;
                background-color: #e0dbe8

            }
        }

    }
}

.post-meta {
    font-size: $small-font-size;
    font-family: $strong-font-family;
    color: lighten($brand-color, 10%);
    letter-spacing: $large-kerning;
    text-align: center;
    display: block;
}

.post-link {
    display: block;
    font-size: 24px;

    @include media-query($on-palm) {
        font-size: 22px;
        color: green;
    }
}

.rss-subscribe{
    display: block;
    width: 100%;
    text-align: center;
    padding: $spacing-unit / 2 ;
    font-family: $strong-font-family;
    font-size: $small-font-size;
    letter-spacing: $large-kerning;

    p{
        margin: 0;
    }

    &:hover{
        text-decoration: none;
        background-color: $brand-color;
        color: white;
    }
}

/**
 * Posts
 */
.post-header {
    padding: $spacing-unit * 2;
    background-color: #e0dbe8
}

.post-title {
    text-align: center;
    font-size: 42px;
    // max-width: 800px;
    margin: 0 auto 15px;
    line-height: 1.4;

    font-family: $strong-font-family;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin: $spacing-unit ($spacing-unit * 3    );

    p{
        font-size: 18px;
        line-height: 27px;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
* Contacts
*/

#map { 
    height: 400px;
    max-height: 80vh;
}

#contact-details{
    max-width: 700px;
    margin: 0 auto;

    .contact-col{
        float: left;
        width: 200px;
        text-align: center;
        padding: $spacing-unit / 2;
        border-left: 1px dashed black;

        &:last-child{
            border-right: 1px dashed black;
        }

        .contact-icon{
            margin: 0px auto;

            svg{
                width: 60px;
            }
        }

    }
}

.center{
    max-width: 700px;
    margin: 0 auto;
}

#contact-form{

    *{
        height: $spacing-unit * 1.3;
        margin-bottom: $spacing-unit;
        border-radius: 3px;
        border: 1px $brand-color solid;

    }

    textarea{
        height: $spacing-unit * 5;
    }
    
    .small-field{
        width: 47.2%;
        float: left;

        &:nth-child(2n){
            margin-left: $spacing-unit;
        }

    }

    .large-field{
        width: 100%;
        max-width: $full-column;
    }
}


/**
* Products
*/

#products{
    
    overflow-x: scroll;

    #products-names{
        
        border-collapse: separate;
        border-spacing: 12px;

        th{
            font-family: $strong-font-family;
            font-size:14px;
            font-weight:normal;
            padding: 0 20px ;
            border-style:solid;
            border-radius: 3px;
            height: 160px;
            width: 160px;
            border-width: 1px;
            overflow:hidden;
            word-break:normal;

            &:hover{
                cursor: pointer;
                background-color: $brand-color; //#8C79A8;
                color: white;
                border-radius: 4px;

                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}


#products-details{
    .prod{
        // display: none;
        // padding-bottom: $spacing-unit;

        .prod-name{
            font-family: $strong-font-family;
            font-size: 20px;
            letter-spacing: $large-kerning;
            text-align: center;
            margin: $spacing-unit * 1.5;
        }

        .prod-desc{
            font-size: 20px;
            margin: 0 $spacing-unit * 2;
            line-height: $base-line-height * 1.2;
        }

        .prod-table{

            border-collapse: collapse;
            // border-spacing: 12px;

            text-align: center;
            margin: ($spacing-unit) auto ($spacing-unit * 2);

            th{
                border-bottom: 2px solid $brand-color;
            } 

            td, th{
                padding: 8px 16px; 
                border-bottom: 1px solid $brand-color;
            }
        }

    }
    .active{
        display: block;
    }
}

.contact-us{

    p{
        text-align: center;
        font-size: 20px;
        margin: $spacing-unit;
    }


    svg{
        display: block;
        margin: 0 auto;
    }

    a{
        font-weight: $regular-font;

        &:hover{
            text-decoration: underline;
            // text-decoration: none;
            opacity: 0.9;
        }
    }
}


/**
* Company
*/

#analog-waves{
    display: block;
    margin: 0 auto;

    .path{
        stroke-dasharray: 2300;
        stroke-dashoffset: 2300;

                animation: dash 7.5s cubic-bezier(.18,.68,0.7,.74);
                animation-fill-mode: forwards;

        -webkit-animation: dash 7.5s cubic-bezier(.18,.68,0.7,.74);
        -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */

    }
}

#facts{
    margin: 0 auto;
    width: 265px;
    list-style-type: none;
    font-family: $strong-font-family;
    padding-top: 140px;
    font-size: 12px;
    position: relative;
    
    li{
        margin: 6px !important;
        float: left;
        margin: 14px;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        width: 90em;
        width: 0;
        
        animation: type 2s steps(80, end) forwards;  
        -webkit-animation: type 0.8s steps(80, end) forwards; 
            

        &:nth-child(1){ 
            top: 160px;
            left: 45px;  
            -webkit-animation-delay: .8s; 
        }

        &:nth-child(2){ 
            top: 120px; 
            left: 105px;
            -webkit-animation-delay: 1s;
        }
        
        &:nth-child(3){ 
            top: 80px;
            left: 170px;
            -webkit-animation-delay: 1.2s;
        }
        
        &:nth-child(4){ 
            top: 40px;
            left: 230px; 
            -webkit-animation-delay: 1.4s;
        }
    }
}

#happened{
    width: 830px;
    margin: 0 auto;

    ul#dates{
        margin: 0 auto;
        width: 265px;
        list-style-type: none;
        font-family: $strong-font-family;

        li{
            float: left;
            margin: 14px;
            position: relative;
            top: -130px;
                    animation: FadeIn 0.5s cubic-bezier(.3,.01,.33,.99) ;
            -webkit-animation: FadeIn 0.5s cubic-bezier(.3,.01,.33,.99) ;
            
                    animation-fill-mode:both;
            -webkit-animation-fill-mode:both;
            &:nth-child(1){ -webkit-animation-delay: .2s; animation-delay: .2s }
            &:nth-child(2){ -webkit-animation-delay: .4s; animation-delay: .4s }
            &:nth-child(3){ -webkit-animation-delay: .6s; animation-delay: .6s }
            &:nth-child(4){ -webkit-animation-delay: .8s; animation-delay: .8s }
        }
    }
}

#lines{

    width: 196px;
    margin: 0 auto;
    position: relative;
    svg{
        position: absolute;
        top: -77px;

       /* Initially we don't want any height, and we want the contents to be hidden */
        max-height: 0;
        overflow: hidden;

        /* Set our transitions up. */
        // -webkit-transition: max-height 3s;
        // -moz-transition: max-height 3s;
        // transition: max-height 3s;
              
        animation: reveal 1.5s cubic-bezier(.44,.44,.39,1) forwards;
        -webkit-animation: reveal 1.5s cubic-bezier(.44,.44,.39,1) forwards;
        

        &:nth-child(1){              -webkit-animation-delay: .0s; animation-delay: .0s}
        &:nth-child(2){ left: 62px;  -webkit-animation-delay: .2s; animation-delay: .2s}
        &:nth-child(3){ left: 125px; -webkit-animation-delay: .5s; animation-delay: .5s}
        &:nth-child(4){ left: 188px; -webkit-animation-delay: .7s; animation-delay: .7s}

    }
}

#details{
    max-width: 380px;
    padding: 16px;
    padding-top: 80px;
    position: relative;
    margin: 0 auto;

    ul{
        list-style-type: none;

        li{
            margin-top: 24px;
            -webkit-animation: fadeInUp 1s ease-out forwards; 
            animation-name: fadeInUp 1s ease-out forwards;
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both;
            &:nth-child(1){ -webkit-animation-delay: 1.2s; animation-delay: 1.2s }
            &:nth-child(2){ -webkit-animation-delay: 1.6s; animation-delay: 1.6s }
            &:nth-child(3){ -webkit-animation-delay: 2s; animation-delay: 2s }
            &:nth-child(4){ -webkit-animation-delay: 2.3; animation-delay: 2.3s }
            &:nth-child(5){ -webkit-animation-delay: 2.6; animation-delay: 2.6s }

            span{
                font-family: $strong-font-family;
                letter-spacing: $large-kerning;
                font-size: $small-font-size * 0.7;
            }
        }
    }
}

.fadeInUp { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
}




/**
* Team
*/
.person{
    
    font-family: $strong-font-family;

    .avatar-holder{

        img{
            border-radius: 5px;
            width: 200px;
            height: 200px;
            padding: 0 !important;
        }
    }

    h2{
        margin-top: 20px;
        letter-spacing: $large-kerning;
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }

    p{
        font-family: $base-font-family;
        font-size: 16px;
        max-width: 400px;
    }

    &:not(.align-right){
        padding-left: 20px;
    }

    a{
        font-size: $base-font-size * 0.8;
        display: block;
        width: 100%;

    }
}

.align-right{
    
    padding-right: 20px;

    *{
        width: 100%;
        float: right;
        text-align: right;
    }
}

.half-w{
    max-width: 50%;
    float: left;
}

.third-w{
    width: 30%;
    float: left;
    padding: 1%;

}

#heads{
    margin-bottom: 60px;
}

#directors{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 60px;

}

/**
* toggles
*/
.btn-more{
    width: 100%;

    &:hover{
        text-decoration: none;
    }
}
.more-details{
    display: none;
}

.visible{
    display: inline;
}.invisible{
    display: none;
}



/**
* Company Animations
*/
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


@-webkit-keyframes FadeIn{
    0% { 
        opacity:0; 
        transform: translate3d(-80px, 160px, 0) scale(.7);
        animation-timing-function: cubic-bezier(.27,.06,.1,.99);
    
    } 50% {
        transform: translate3d(-10px, -15px, 0) scale(0.5);
        animation-timing-function: cubic-bezier(.27,.06,.1,.99);
    
    } 70% {
        transform: translate3d(-5px, -15px, 0) scale(0.8);
        animation-timing-function: cubic-bezier(.58,.03,.98,.42);
    
    } 80% {
        opacity:1; 
        transform: translate3d(-2px, -2px, 0) scale(1);
        animation-timing-function: ease-in;
    
    } 100% {
        transform: translate3d(0px, 0, 0) scale(1.1);
        animation-timing-function: ease-out;
    }   
}

@keyframes reveal{

    to{
        max-height: 280px;
    }
}

@keyframes type{ 
  from { width: 0; }
  to { width: 100%; }
}

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 



/**
* HOME
*/
.home{

    .svg-icon{
        width: 200px;
        height: 200px;
        &:not(#svg-movellus){
            position: absolute;
        }
    }

    #svg-movellus{
        margin: 0 auto -20px;
        display: block;
        min-width: 900px;
    }

    #line-one{
        position: relative;
    }

    #clock{
        top: 650px;
        left: 80px;
    }

    #chip{
        top: 1260px;
        left: 300px;
    }

    #battery{
        top: -50px;
        left: 70px;
        width: 360px;
    }

    #scalable{
        top: 550px;
        left: 145px;
    }

    #graph{
        top: 1190px;
        left: 260px;
    }

    #shield{
        margin: $spacing-unit * 2 auto $spacing-unit;
        position: relative;
    }

    #svg-chip{
        top: 1220px;
        left: 72px;
    }

    #svg-clock{
        top: 600px;
        left: 550px;
    }

    #svg-spiral{
        top: 260px;
        left: 240px;
    }
    
    #svg-battery{
        left: 490px;
        top: -100px;
    }

    #svg-tangram{
        top: 790px;
        left: 240px;
    }

    #svg-graph{
        top: 1150px;
        left: -1px;
    }

    #svg-shield{
        left: 240px;
        top: -50px;
    }

    #svg-master-line{
        width: 80%;
        height: 80%;
        margin: 0 auto;
        display: block;
    }

    #line-one{
        height: 1343px;
        background-image: url('/movellus/images/home-line-1.svg');
        background-repeat: no-repeat;
    }
    #line-two-three{
        height: 1434px;
        width: 692px;
        margin: 300px auto 0;
        background-image: url('/movellus/images/home-line-2-3.svg');
        background-repeat: no-repeat;
        position: relative;
    }

    #line-four{
        height: 434px;
        width: 692px;
        margin: 100px auto 0;
        background-image: url('/movellus/images/home-line-4.svg');
        background-repeat: no-repeat;
        position: relative;
    }

}

.icon-details{
    width: 400px;
    position: absolute;


    h2{
        font-family: $strong-font-family;
        letter-spacing: $medium-kerning;
        font-size: 24px;
    }
    text-align: center;
    font-size: 18px;
    line-height: 27px;
}


.banner{
    padding: $spacing-unit * 4 20px;
    background-color: $brand-color;
    color: white;
    text-align: center;
    font-family: $strong-font-family;
    
    h1{
        font-size: $base-font-size * 3.5;
        margin-bottom: 0;
        letter-spacing: 5px;
    }

    p{
        font-family: $base-font-family;
        letter-spacing: 5px;
    }
}






































