/**
 * Site header
 */
.site-header {
    z-index: 3;
    position: fixed;
    width: 100vw;
    padding: 0 10px;
    background-color: white;
    border-bottom: 1px solid $grey-color-light;
    min-height: 70px;
    font-family: $strong-font-family;
    color: $brand-color;

    font-size: $nav-font-size;
    letter-spacing: $medium-kerning;

    -webkit-box-shadow: 0px 0px 18px -2px #dedede;
       -moz-box-shadow: 0px 0px 18px -2px #dedede;
            box-shadow: 0px 0px 18px -2px #dedede;

    .wrapper{
        padding-right: 40px;
    }

    a img{
        max-width: 80%;
    }


}

.site-title {
    font-size: 26px;
    line-height: 20px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    img{
        margin-top: 7px;
        height: 56px;
        max-width: 100% !important;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    margin-right: 18px;
    line-height: 70px;

    #nav-icon {
        display: none;
    }

    .nav-link {
        color: $text-color;
        line-height: $base-line-height;
        padding: 26px 10px 24px;
        margin-left: -4px;
        margin-right: -4px;
        border-bottom: 4px solid white;

        transition: border-bottom-color .4s ease;
        -webkit-transition: border-bottom-color .4s ease;

        text-align: center;

        &:hover{
            border-bottom-color: $brand-color;
            text-decoration: none;
        }
    }

    @include media-query(770px) {
        position: absolute;
        top: 25px;
        right: 20px;
        background-color: #fafafa;
        text-align: right;

        #nav-icon {
            width: 26px;
            height: 26px;
            // padding-top: 10px;

            float: right;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;

            display: block !important;
            span{
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background: $brand-color;
                border-radius: 5px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;

                &:nth-child(1) {
                  top: 0px;
                }

                &:nth-child(2) {
                  top: 8px;
                }

                &:nth-child(3) {
                  top: 16px;
                }
            }

            &.open {

                span:nth-child(1) {
                  top: 5px;
                  -webkit-transform: rotate(135deg);
                  -moz-transform: rotate(135deg);
                  -o-transform: rotate(135deg);
                  transform: rotate(135deg);
                }
                
                span:nth-child(2) {
                  opacity: 0;
                  left: -60px;
                }

                span:nth-child(3) {
                  top: 5px;
                  -webkit-transform: rotate(-135deg);
                  -moz-transform: rotate(-135deg);
                  -o-transform: rotate(-135deg);
                  transform: rotate(-135deg);
                }
            }
        }

        .open + .trigger{
            display: block;
            padding-bottom: 5px;
        }

        .trigger {
            clear: both;
            display: none;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
        .nav-link{
            display: block;
            width: 80vw;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

/**
 * Banner
 */
#white{
    background-color: white;
    padding-top: 1px;
    margin-top: 450px;

    @include media-query(600px) {
        margin-top: 100vh;
    }
}

#home-banner{
    position: fixed;
    width: 100vw;
    z-index: -5;
    background-color: $brand-color;
    background-image: url('/images/covers/optmized/hero-bg-min.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
    color: white;
    font-size: 7px;
   
    @include media-query(600px) {
        height: 100vh;
    }
   
    .vertical-align{
        @include vertical-align();

        h1{
            text-shadow: 0 0 5px black;
            font-size: 18px;
            margin-top: 20px !important;
            text-shadow: 0 0 5px black;
            @include media-query(600px) {
                font-size: 12px;
                margin-top: -20px !important;
            }
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    margin-top: $spacing-unit * 2;
    padding: ($spacing-unit * 3) $spacing-unit ;

    background: rgba(255,255,255,0.53);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(63,32,110,0.31) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.53)), color-stop(100%, rgba(63,32,110,0.31)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(63,32,110,0.31) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(63,32,110,0.31) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(63,32,110,0.31) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.53) 0%, rgba(63,32,110,0.31) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3f206e', GradientType=0 );

    font-family: $strong-font-family;

    a{
        color: #3F206E;
        &:visited{
            color: #3F206E;
        }
    }
}

.footer-heading {
    font-size: 16px;
    text-align: center;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}
.center-col{
    text-align: center;
    width: 310px;
    display: block;
    margin: 20px auto 0;
    float: none !important;
    padding: 0;
    font-size: $small-font-size;
}
@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding-top: 70px;
    max-width: 100vw;
    overflow-x: hidden;
    &.tech-features{
        margin-bottom: 50px;
    }
}

/**
* Contacts
*/

#map {
    height: 400px;
    max-height: 80vh;
}

#contact-details{
    max-width: 700px;
    margin: 50px auto;

    .contact-col{
        float: left;
        width: 200px;
        text-align: center;
        padding: $spacing-unit / 2;
        font-size: 15px;

        @include media-query(710px) {
            width: 92vw;
            max-width: 200px;
            float: none;
            margin: 0 auto;
            border: 0;
            border-bottom: 1px dashed black;
            border-right: 0 !important;
            padding: $spacing-unit / 4;
            padding-bottom: 20px;
        }

        .contact-icon{
            margin: 0px auto;

            svg{
                width: 80px;
            }
        }
    }
}
.center{
    max-width: 700px;
    margin: 0 auto;
}

::-webkit-input-placeholder {
        color: $brand-color;
        font-family: $strong-font-family;
        letter-spacing: $medium-kerning;
    }::-moz-placeholder {
        color: $brand-color;
        font-family: $strong-font-family;
        letter-spacing: $medium-kerning;
    } /* firefox 19+ */
    :-ms-input-placeholder {
        color: $brand-color;
        font-family: $strong-font-family;
        letter-spacing: $medium-kerning;
    } /* ie */
    input:-moz-placeholder {
        color: $brand-color;
        font-family: $strong-font-family;
        letter-spacing: $medium-kerning;
    }

#contact-form{
    input, textarea{
        padding-left: 10px;
    }
    textarea{
        padding-top: 10px;
    }

    input:not([type="submit"]), textarea
    {
        font-family: $strong-font-family;
        color: $brand-color;
        font-size: 12px;

    }

    *{
        height: $spacing-unit * 1.3;
        margin-bottom: $spacing-unit;
        border-radius: 3px;
        border: 1px $brand-color solid;

        @include media-query(710px) {
            width: 92vw !important;
            max-width: 420px;
            float: none;
            margin: 10px 2vw !important;
        }
    }

    textarea{
        height: $spacing-unit * 5;
    }

    .small-field{
        width: 46%;
        float: left;

        &:nth-child(2n){
            margin-left: $spacing-unit;
        }

    }

    .large-field{
        width: 98%;
        max-width: $full-column;
    }
}


// CONTACT US
// .contact-us{

//     p{
//         text-align: center;
//         font-size: 20px;
//         margin: $spacing-unit;
//     }
//     svg{
//         display: block;
//         margin: 0 auto;
//     }
//     a{
//         font-weight: $regular-font;

//         &:hover{
//             text-decoration: underline;
//             opacity: 0.9;
//         }
//     }
// }


/**
* Company
*/

#analog-waves{
    display: block;
    margin: -180px auto 0;

}

#facts{
    margin: 0 auto;
    width: 265px;
    list-style-type: none;
    font-family: $strong-font-family;
    padding-top: 140px;
    font-size: 12px;
    position: relative;

    li{
        margin: 6px !important;
        float: left;
        margin: 14px;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        width: 90em;

        &:nth-child(1){
            top: 160px;
            left: 50px;
        }

        &:nth-child(2){
            top: 120px;
            left: 105px;
        }

        &:nth-child(3){
            top: 80px;
            left: 160px;
        }

        &:nth-child(4){
            top: 23px;
            left: 215px;
        }
    }
}
#happened-wrapper{
    margin-top: 100px;

    #happened{
        width: 830px;
        margin: 0 auto;

        ul#dates{
            margin: 0 auto;
            width: 230px;
            list-style-type: none;
            font-family: $strong-font-family;

            li{
                float: left;
                margin: 9px;
                position: relative;
                top: -150px;
            }
        }
    }
}

#lines{
    width: 168px;
    margin: 0 auto;
    position: relative;
    svg{
        position: absolute;
        top: -55px;

        &:nth-child(2){ left: 54px;  top: -68px; }
        &:nth-child(3){ left: 109px; top: -77px; }
        &:nth-child(4){ left: 164px; top: -92px; }

    }
}
.event-label{
    display: none;
}
#details{
    max-width: 380px;
    padding: 16px;
    padding-top: 80px;
    position: relative;
    margin: 0 auto;

    ul{
        list-style-type: none;

        li{
            margin-top: 24px;
            // // -webkit-animation: fadeInUp 1s ease-out forwards;
            // // animation-name: fadeInUp 1s ease-out forwards;
            // // -webkit-animation-fill-mode: both;
            // animation-fill-mode: both;
            // &:nth-child(1){ -webkit-animation-delay: 0.2s; animation-delay: 0.2s }
            // &:nth-child(2){ -webkit-animation-delay: 0.6s; animation-delay: 0.6s }
            // &:nth-child(3){ -webkit-animation-delay: 1s; animation-delay: 1s }
            // &:nth-child(4){ -webkit-animation-delay: 1.3; animation-delay: 1.3s }
            // &:nth-child(5){ -webkit-animation-delay: 1.6; animation-delay: 1.6s }

            span{
                font-family: $strong-font-family;
                letter-spacing: $large-kerning;
                font-size: 10px;
            }
        }
    }
}

// .fadeInUp {
//     -webkit-animation-duration: 1s;
//     animation-duration: 1s;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
//     -webkit-animation-timing-function: ease-out;
//     animation-timing-function: ease-out;
// }

.purple{
    color: #3F206E;
}

/**
* Team
*/
.directors{
    @include media-query(900px) {
        width: 100vw;
    }

    width: 1020px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}
.person{
    @include media-query(600px) {
        margin: 10px auto 0;
    }

    background: #FFFFFF;
    box-shadow: 2px 22px 70px rgba(55, 55, 135, 0.2), 0px 0px 2px rgba(55, 30, 99, 0.2);
    border-radius: 5px;
    flex: 0 0 300px;
    align-self: flex-start; 
    margin: 20px;

    font-family: $strong-font-family;
    display: inline-block;
    section{
        padding: 20px;
        min-height: 280px;
        border-bottom: 1px solid #E4E3ED;
    }

    .avatar-holder{

        margin-bottom: 35px;
        
        img{
            border-radius: 100%;
            width: 120px;
            height: 120px;
            display: block;
            margin: 20px auto;
        }
    }

    h2{
        margin-top: 20px;
        letter-spacing: 0;
        font-size: 18px;
        text-align: center;
    }
    h3{
        font-size: 16px;
        text-align: center;
    }

    p{
        font-family: $base-font-family;
        font-size: 14px;
        text-align: justify;
        padding: 10px 20px 0;
    }

    a{
        font-size: $base-font-size * 0.8;
        display: block;
        width: 100%;
        text-align: center;
    }
}

/**
* toggles
*/
.btn-more{
    width: 100%;
    margin-bottom: 30px;

    &:hover{
        text-decoration: none;
    }
}

.visible{
    display: inline;
}.invisible{
    display: none;
}


// @-webkit-keyframes fadeInUp {
//     0% {
//         opacity: 0;
//         -webkit-transform: translateY(20px);
//         transform: translateY(20px);
//     }
//     100% {
//         opacity: 1;
//         -webkit-transform: translateY(0);
//         transform: translateY(0);
//     }
// }

/**
* HOME
*/
.home{
    overflow-x: hidden;
    .svg-icon{
        width: 200px;
        height: 200px;
        &:not(#svg-movellus){
            position: absolute;
        }
    }

    .heading{
        max-width: 700px;
        margin: 75px auto;
        padding: 0 8px;
        font-size: 40px !important;


        @include media-query(600px) {
            font-size: 18px;
            max-width: 400px;
            letter-spacing: $medium-kerning * 2 / 3;
        }
    }


    #clock{
      top: 685px;
      left: 30px;
    }

    #chip{
      top: 1640px;
      left: 130px;
    }

    #battery{
      top: 1175px;
      left: 200px;
    }

    // #scalable{
    //     top: 550px;
    //     left: 145px;
    // }

    // #graph{
    //     top: 1190px;
    //     left: 260px;
    // }

    #shield{
      margin: 0px auto;
      position: absolute;
      top: 2420px;
      left: 190px;
    }


    #svg-movellus{
        margin: -100px auto -20px;
        display: block;
        min-width: 200px;
    }

    #svg-chip{
      top: 1550px;
      left: 580px;
    }

    #svg-clock{
        top: 600px;
        left: 497px;
    }

    #svg-battery{
      left: -35px;
      top: 1080px;
    }

    #svg-shield{
      left: 325px;
      top: 2169px;
    }

    // #svg-master-line{
    //     width: 80%;
    //     height: 80%;
    //     margin: 0 auto;
    //     display: block;
    // }

    #line-one{
        height: 2600px;
        width: 850px;
        margin: 18px auto;
        background-image: url('/images/outlines/main-outline-c.svg');
        background-repeat: no-repeat;
        position: relative;
    }

}

.icon-details{
    width: 480px;
    position: absolute;


    h2{
        font-family: $strong-font-family;
        letter-spacing: $medium-kerning;
        font-size: 24px;
    }
    text-align: center;
    font-size: 18px;
    line-height: 27px;
}


// .banner{
//     padding: $spacing-unit * 4 20px;
//     background-color: $brand-color;
//     color: white;
//     text-align: center;
//     font-family: $strong-font-family;

//     h1{
//         font-size: $base-font-size * 3.5;
//         margin-bottom: 0;
//         letter-spacing: 5px;
//     }

//     p{
//         font-family: $base-font-family;
//         letter-spacing: 5px;
//     }
// }


// NEW TECH PAGE

.tech-wrapper{
    max-width: 800px;
    margin: 0 auto;
}
.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.flexbox-container > div {
    width: 50%;
    padding: 10px;
}

.flexbox-container > div:first-child {
    margin-right: 20px;
}

.flexbox-container > div img{
    max-width: 400px;
}

.feature-gif{
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-query(768px){

        height: 300px;
        padding: 30px 0 5px !important;
        width: 100% !important;

        img{
            width: 300px !important;
            height: 300px !important;
            margin: 0 auto;
            display: block;
        }
    }
}

.feature-details{
    // div{
    //     max-width: 300px;

    // }
    strong{
        font-size: 1.2em;
        font-family: $strong-font-family;
        display: block;
    }
}

// .feature-gif ~ .feature-details{
//     div{
//         max-width: 300px;
//     }
// }

#left-half-line, #right-half-line{
    border-bottom: 1px solid #3d2d6b;
    width: 50%;
    margin-top: 50px;
}
#right-half-line{
    margin-left: 50%;
}

// TECH PAGE
#labels-heading{
    font-family: $strong-font-family;
    font-weight: 300;
    text-align: center;
    max-width: 800px;
    margin: 20px auto 60px;
    letter-spacing: 2px;
    font-size: larger;
    text-transform: uppercase;
    font-size: 30px;
    max-width: 580px;
}
#t-subheading{
    text-align: center;
    font-family: $strong-font-family;
    font-weight: 500;
    opacity: 0.7;
    margin-top: -60px;
    margin-bottom: 60px;
}
.subheading{
  font-family: $strong-font-family;
  text-align: center;
  margin-top: 40px;
}
@media(max-width: 800px){

    .flexbox-container{
        -webkit-flex-direction: column;
                flex-direction: column;
    }
    .flexbox-container > div {
        padding-top: 10px;
        width: 88%;
        max-width: 100vw;
        padding: 20px;
    }
    #labels-heading{
        font-size: 22px;
        padding: 0 20px;
    }
    .flexbox-container > div:first-child{
        margin-right: 0 !important;
    }
    .flexbox-container > div img{
        max-width: 100%;
    }
    .flexbox-container.reverse{
        -webkit-flex-direction: column-reverse !important;
                flex-direction: column-reverse !important;
    }
    .feature-details{
        padding: initial 0;

    }
}


// SPA REDESIGN
header, .full-width {
  width: 100%;
  background: #ccc;
}
.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}

#header-team{
  background-image: url("/images/covers/optmized/team-purple-min.png");
}
#header-contact{
  background-image: url("/images/covers/optmized/contact-purple-min.png");
}
#header-tech{
  background-image: url("/images/covers/optmized/tech-purple-min.png");
}
#header-hist{
  background-image: url("/images/covers/optmized/history-purple-min.png");
}

.header-bg{
  color: white;
  background-color: $brand-color;

  background-position: center;
  -webkit-background-position: center;
  -moz-background-position: center;
  -o-background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media( max-width: 900px ) {

    .home{
      // line 1
      #line-one{
        height: 2000px;
        width: 304px;
        background-image: url('/images/outlines/outline-mobile-c.svg');
        margin: 0 auto;
      }

        .svg-icon{
            width: 160px;
            height: 160px;
        }
        .icon-details{
            max-width: 280px;
        }

        #svg-movellus{
            margin-bottom: -2px;
            margin-top: -80px;
        }
        #svg-clock{
            left: 70px;
            top: 230px;
        }
        #clock{
            left: 0;
            top: 410px;
        }
        #svg-chip{
            top: 705px;
            left: 70px;
        }
        #chip{
            top: 920px;
            left: 10px;
        }

        #svg-battery{
            left: 70px;
            top: 1150px;
        }
        #battery{
            left: 10px;
            top: 1340px;
        }
        // #svg-spiral{
        //     left: 70px;
        //     top: 284px;
        // }
        // #scalable{
        //     left: 15px;
        //     top: 475px;
        //     font-size: 17px;
        //     h2{
        //         letter-spacing: $medium-kerning / 2;
        //     }
        // }
        // #svg-tangram{
        //     top: 685px;
        //     left: 70px;
        // }
        // #svg-graph{
        //     left: 75px;
        //     top: 1100px;
        // }
        // #graph{
        //     left: 15px;
        //     top: 1290px;
        // }

        #shield{
          top: 1760px;
          left: 10px;
        }
        #svg-shield{
            left: 70px;
            top: 1564px;
        }
        // #line-four{
        //     margin-top: 190px;
        // }
    }
}



@media(max-width: 885px) {
    #happened-wrapper{
        margin-top: 50px;

        #happened{
            width: 100vw;
            height: 150px;
            position: relative;
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }
    #lines, #facts, #dates{
        display: none;
    }

    #analog-waves{
        position: absolute;
        left: 50%;
        height: 410px;
        margin-left: -445px; /* half of the width */
    }
    .event-label{
        display: inline;
        letter-spacing: 1px !important;
        color: #011022;
        font-weight: bold;
    }

    #details{
        padding-top: 40px;
        margin: 0 auto 50px;
        ul{
            margin: 0 auto;
            max-width: 300px;
        }
    }
}
