/**
 * Site header
 */
.site-header {
    z-index: 3;
    position: fixed;
    width: 100vw;
    padding: 0 10px;
    background-color: white;
    border-bottom: 1px solid $grey-color-light;
    min-height: 70px;
    font-family: $strong-font-family;
    color: $brand-color;

    font-size: $nav-font-size;
    letter-spacing: $medium-kerning;

    -webkit-box-shadow: 0px 0px 18px -2px #dedede;
       -moz-box-shadow: 0px 0px 18px -2px #dedede;
            box-shadow: 0px 0px 18px -2px #dedede;
    
    .wrapper{
        padding-right: 40px;
    }

    a img{
        max-width: 80%;
    }


}

.site-title {
    font-size: 26px;
    line-height: 20px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    img{
        margin-top: 7px;
        height: 56px;
        max-width: 100% !important;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    margin-right: 18px;
    line-height: 70px;

    .menu-icon {
        display: none;
    }

    .nav-link {
        color: $text-color;
        line-height: $base-line-height;
        padding: 26px 10px 24px;
        margin-left: -4px;
        margin-right: -4px;
        border-bottom: 4px solid white;

        transition: border-bottom-color .4s ease;
        -webkit-transition: border-bottom-color .4s ease;

        text-align: center;

        &:hover{
            border-bottom-color: $brand-color;
            text-decoration: none;
        }
    }

    @include media-query(770px) {
        position: absolute;
        top: 18px;
        right: 20px;
        background-color: #fafafa;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
        .nav-link{
            display: block;
            width: 80vw;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

/**
 * Banner
 */
 #white{
    background-color: white;
    padding-top: 1px;
    margin-top: 450px;
    @include media-query(600px) {
        margin-top: 100vh;
    }
 }
 .box-shadow{
    box-shadow: 0 -10px 50px #423463;
 }
#home-banner{
    position: fixed;
    width: 100vw;
    z-index: -5;
    background-color: $brand-color;
    background-image: url('/images/bg-puzz-min.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 450px;
    color: white;
    font-size: 7px;
    @include media-query(600px) {
        height: 100vh;
    }
    .vertical-align{
        @include vertical-align();
        
        svg{
            margin: 0px auto;
            width: 600px;
            display: block;
            padding: 0px 6px 0;
            @include media-query(600px) {
                width: 400px;
            }
            @include media-query(400px) {
                width: 320px;
            }
        }

        h1{
            text-shadow: 0 0 5px black;
            font-size: 18px;
            margin-top: 20px !important;
            text-shadow: 0 0 5px black;
            @include media-query(600px) {
                font-size: 12px;
                margin-top: -20px !important;
            }
        }
    }


}


/**
 * Master Button
 */

#master-btn{
    display: block;
    text-align: center;
    padding: 15px $spacing-unit;
    border-radius: 5px;
    margin: 20px auto 100px;
    color: $brand-color;
    width: 200px;
    border: 1px solid $brand-color;
    font-family: $strong-font-family;
    
    -webkit-transition: background-color 0.4s ease;
            transition: background-color 0.4s ease;

    -webkit-transition: color 0.6s ease-out;
            transition: color 0.6s ease-out;

    &:hover{
        text-decoration: none;
        background-color: $brand-color;
        color: white;

         -webkit-transition: background-color 1s;

    }
}


/**
 * Site footer
 */
.site-footer {
    margin-top: $spacing-unit * 2; 
    padding: ($spacing-unit * 3) $spacing-unit ;
    
background: rgba(255,255,255,0.53);
background: -moz-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(63,32,110,0.31) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.53)), color-stop(100%, rgba(63,32,110,0.31)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(63,32,110,0.31) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(63,32,110,0.31) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(63,32,110,0.31) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.53) 0%, rgba(63,32,110,0.31) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3f206e', GradientType=0 );

    font-family: $strong-font-family;

    a{
        color: #3F206E;
        &:visited{
            color: #3F206E;
        }
    }
}

.footer-heading {
    font-size: 16px;
    text-align: center;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}
.center-col{

    text-align: center;
    width: 310px;
    display: block;
    margin: 20px auto 0;
    float: none !important;
    padding: 0;
    font-size: $small-font-size;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding-top: 70px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    display: block;
    margin-left: 0;
    list-style: none;

    > li {

        cursor: pointer;

        a{
            padding: 2 *$spacing-unit;
            margin: 0 auto;
            text-align: center;
            font-family: $strong-font-family;


            &:hover{
                text-decoration: none;
                background-color: #e0dbe8

            }
        }

    }
}

.post-meta {
    font-size: $small-font-size;
    font-family: $strong-font-family;
    color: lighten($brand-color, 10%);
    letter-spacing: $large-kerning;
    text-align: center;
    display: block;
}

.post-link {
    display: block;
    font-size: 24px;

    h2{
        max-width: 720px;
        margin: 0 auto $spacing-unit;
    }

    @include media-query($on-palm) {
        font-size: 22px;
        color: green;
    }
}

.rss-subscribe{
    display: block;
    width: 100%;
    text-align: center;
    padding: $spacing-unit / 2 ;
    font-family: $strong-font-family;
    font-size: $small-font-size;
    letter-spacing: $large-kerning;

    p{
        margin: 0;
    }

    &:hover{
        text-decoration: none;
        background-color: $brand-color;
        color: white;
    }
}

/**
 * Posts
 */
.post-header {
    padding: $spacing-unit * 2;
    background-color: #e0dbe8
}

.post-title {
    text-align: center;
    font-size: 42px;
    // max-width: 800px;
    margin: 0 auto 15px;
    line-height: 1.4;
    max-width: 800px;

    font-family: $strong-font-family;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin: $spacing-unit ($spacing-unit * 3    );

    p{
        font-size: 18px;
        line-height: 27px;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
* Contacts
*/

#map { 
    height: 400px;
    max-height: 80vh;
}

#contact-details{
    max-width: 700px;
    margin: 0 auto;

    .contact-col{
        float: left;
        width: 200px;
        text-align: center;
        padding: $spacing-unit / 2;
        border-left: 1px dashed black;

        @include media-query(710px) {
            width: 92vw;
            max-width: 200px;
            float: none;
            margin: 0 auto;
            border: 0;
            border-bottom: 1px dashed black;
            border-right: 0 !important;
            padding: $spacing-unit / 4;
            padding-bottom: 20px;
        }

        &:last-child{
            border-right: 1px dashed black;
        }

        .contact-icon{
            margin: 0px auto;

            svg{    
                width: 80px;
            }
        }

    }
}
.center{
    max-width: 700px;
    margin: 0 auto;
}

::-webkit-input-placeholder { 
        color: $brand-color; 
        font-family: $strong-font-family; 
        letter-spacing: $medium-kerning; 
    }::-moz-placeholder { 
        color: $brand-color; 
        font-family: $strong-font-family; 
        letter-spacing: $medium-kerning; 
    } /* firefox 19+ */
    :-ms-input-placeholder { 
        color: $brand-color; 
        font-family: $strong-font-family; 
        letter-spacing: $medium-kerning; 
    } /* ie */
    input:-moz-placeholder { 
        color: $brand-color; 
        font-family: $strong-font-family; 
        letter-spacing: $medium-kerning; 
    }

#contact-form{

    input, textarea{
        padding-left: 10px;
    }
    textarea{
        padding-top: 10px;
    }

    input:not([type="submit"]), textarea
    {
        font-family: $strong-font-family;
        color: $brand-color;
        font-size: 12px;

    }

    *{
        height: $spacing-unit * 1.3;
        margin-bottom: $spacing-unit;
        border-radius: 3px;
        border: 1px $brand-color solid;

        @include media-query(710px) {
            width: 92vw !important;
            max-width: 420px;
            float: none;
            margin: 10px 2vw !important;
        }

    }

    textarea{
        height: $spacing-unit * 5;
    }
    
    .small-field{
        width: 46%;
        float: left;

        &:nth-child(2n){
            margin-left: $spacing-unit;
        }

    }

    .large-field{
        width: 98%;
        max-width: $full-column;
    }
}


// CONTACT US

.contact-us{

    p{
        text-align: center;
        font-size: 20px;
        margin: $spacing-unit;
    }


    svg{
        display: block;
        margin: 0 auto;
    }

    a{
        font-weight: $regular-font;

        &:hover{
            text-decoration: underline;
            // text-decoration: none;
            opacity: 0.9;
        }
    }
}


/**
* Company
*/

#analog-waves{
    display: block;
    margin: -180px auto 0;

    // .path{
    //     stroke-dasharray: 2300;
    //     stroke-dashoffset: 2300;

    //             animation: dash 7.5s cubic-bezier(.18,.68,0.7,.74);
    //             animation-fill-mode: forwards;

    //     -webkit-animation: dash 7.5s cubic-bezier(.18,.68,0.7,.74);
    //     -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */

    // }
}

#facts{
    margin: 0 auto;
    width: 265px;
    list-style-type: none;
    font-family: $strong-font-family;
    padding-top: 140px;
    font-size: 12px;
    position: relative;
    
    li{
        margin: 6px !important;
        float: left;
        margin: 14px;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        width: 90em;
        // width: 0;
        

        &:nth-child(1){ 
            top: 160px;
            left: 50px;  
        }

        &:nth-child(2){ 
            top: 120px; 
            left: 105px;
        }
        
        &:nth-child(3){ 
            top: 80px;
            left: 160px;
        }
        
        &:nth-child(4){ 
            top: 40px;
            left: 215px; 
        }
    }
}
#happened-wrapper{
    margin-top: 100px;

    #happened{
        width: 830px;
        margin: 0 auto;

        ul#dates{
            margin: 0 auto;
            width: 230px;
            list-style-type: none;
            font-family: $strong-font-family;

            li{
                float: left;
                margin: 10px;
                position: relative;
                top: -150px;
            }
        }
    }
}

#lines{


    width: 168px;
    margin: 0 auto;
    position: relative;
    svg{
        position: absolute;
        top: -55px;

        &:nth-child(2){ left: 54px;  top: -68px; }
        &:nth-child(3){ left: 109px; top: -77px; }
        &:nth-child(4){ left: 164px; top: -92px; }

    }
}
.event-label{
    display: none;
}
#details{
    max-width: 380px;
    padding: 16px;
    padding-top: 80px;
    position: relative;
    margin: 0 auto;

    ul{
        list-style-type: none;

        li{
            margin-top: 24px;
            -webkit-animation: fadeInUp 1s ease-out forwards; 
            animation-name: fadeInUp 1s ease-out forwards;
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both;
            &:nth-child(1){ -webkit-animation-delay: 0.2s; animation-delay: 0.2s }
            &:nth-child(2){ -webkit-animation-delay: 0.6s; animation-delay: 0.6s }
            &:nth-child(3){ -webkit-animation-delay: 1s; animation-delay: 1s }
            &:nth-child(4){ -webkit-animation-delay: 1.3; animation-delay: 1.3s }
            &:nth-child(5){ -webkit-animation-delay: 1.6; animation-delay: 1.6s }

            span{
                font-family: $strong-font-family;
                letter-spacing: $large-kerning;
                font-size: 10px; // $small-font-size * 0.7;
            }
        }
    }
}

.fadeInUp { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
}


@media(max-width: 885px) {
    #happened-wrapper{
        margin-top: -100px;
        
        #happened{
            width: 100vw;
            height: 150px;
            position: relative;
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }
    #lines, #facts, #dates{
        display: none;
    }

    #analog-waves{
        position: absolute;
        left: 50%;
        height: 410px;
        margin-left: -445px; /* half of the width */
    }
    .event-label{
        display: inline;
        letter-spacing: 1px !important;
        color: #011022;
        font-weight: bold;
    }

    #details 
    {
        padding-top: 40px;
        ul{
            margin: 0;
        }
    }

    #directors {
        padding-left: 0 !important;
    }

    // profiles
    .align-right{
        *{
            float: none !important;
            text-align: left !important;
        }
        padding: 0 !important;   
    }

    .half-w, .third-w{
        float: none !important;
        width: 400px !important;
        max-width: 92% !important;
        margin: 30px auto;
    }

    .person{
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

/**
* Team
*/
.person{
    
    font-family: $strong-font-family;

    .avatar-holder{

        img{
            border-radius: 5px;
            width: 200px;
            height: 200px;
            padding: 0 !important;
        }
    }

    h2{
        margin-top: 20px;
        letter-spacing: $large-kerning;
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }

    p{
        font-family: $base-font-family;
        font-size: 16px;
        max-width: 400px;
    }

    &:not(.align-right){
        padding-left: 20px;
    }

    a{
        font-size: $base-font-size * 0.8;
        display: block;
        width: 100%;

    }
}

.align-right{
    
    padding-right: 20px;

    *{
        width: 100%;
        float: right;
        text-align: right;
    }
}

.half-w{
    max-width: 50%;
    float: left;
}

.third-w{
    width: 30%;
    float: left;
    padding: 1%;

}

#heads{
    margin-bottom: 60px;
}

#directors{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 60px;


}

/**
* toggles
*/
.btn-more{
    width: 100%;
    margin-bottom: 30px;

    &:hover{
        text-decoration: none;
    }
}
.more-details{
    display: none;
}

.visible{
    display: inline;
}.invisible{
    display: none;
}



/**
* Company Animations
*/
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


@-webkit-keyframes FadeIn{
    0% { 
        opacity:0; 
        transform: translate3d(-80px, 160px, 0) scale(.7);
        animation-timing-function: cubic-bezier(.27,.06,.1,.99);
    
    } 50% {
        transform: translate3d(-10px, -15px, 0) scale(0.5);
        animation-timing-function: cubic-bezier(.27,.06,.1,.99);
    
    } 70% {
        transform: translate3d(-5px, -15px, 0) scale(0.8);
        animation-timing-function: cubic-bezier(.58,.03,.98,.42);
    
    } 80% {
        opacity:1; 
        transform: translate3d(-2px, -2px, 0) scale(1);
        animation-timing-function: ease-in;
    
    } 100% {
        transform: translate3d(0px, 0, 0) scale(1.1);
        animation-timing-function: ease-out;
    }   
}

@keyframes reveal{

    to{
        max-height: 280px;
    }
}

@keyframes type{ 
  from { width: 0; }
  to { width: 100%; }
}

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.read-more{
    font-family: $strong-font-family;
    letter-spacing: $medium-kerning;
    font-size: 16px !important;
}

/**
* HOME
*/
.home{
    overflow-x: hidden;
    .svg-icon{
        width: 200px;
        height: 200px;
        &:not(#svg-movellus){
            position: absolute;
        }
    }

    .heading{
        max-width: 700px;
        margin: 75px auto;
        padding: 0 8px;


        @include media-query(600px) {
            font-size: 18px;
            max-width: 400px;
            letter-spacing: $medium-kerning * 2 / 3;
        }
    }

    #line-one{
        position: relative;
    }

    #clock{
        top: 650px;
        left: 80px;
    }

    #chip{
        top: 1260px;
        left: 300px;
    }

    #battery{
        top: -50px;
        left: 70px;
        width: 360px;
    }

    #scalable{
        top: 550px;
        left: 145px;
    }

    #graph{
        top: 1190px;
        left: 260px;
    }

    #shield{
        margin: $spacing-unit * 2 auto $spacing-unit;
        position: relative;
    }


    #svg-movellus{
        margin: -100px auto -20px;
        display: block;
        min-width: 200px;
    }

    #svg-chip{
        top: 1220px;
        left: 73px;
    }

    #svg-clock{
        top: 600px;
        left: 550px;
    }

    #svg-spiral{
        top: 260px;
        left: 240px;
    }
    
    #svg-battery{
        left: 491px;
        top: -100px;
    }

    #svg-tangram{
        top: 790px;
        left: 240px;
    }

    #svg-graph{
        top: 1150px;
    }

    #svg-shield{
        left: -98px;
        top: -198px;
    }

    #svg-master-line{
        width: 80%;
        height: 80%;
        margin: 0 auto;
        display: block;
    }

    #line-one{
        height: 1343px;
        width: 900px;
        margin: 0 auto;
        background-image: url('/images/home-line-1.svg');
        background-repeat: no-repeat;
    }
    #line-two-three{
        height: 1434px;
        width: 692px;
        margin: 300px auto 0;
        background-image: url('/images/home-line-2-3.svg');
        background-repeat: no-repeat;
        position: relative;
    }

    #line-four{
        height: 434px;
        width: 3.5px;
        margin: 250px auto 0;
        position: relative;

        background: rgba(63,32,110,1);
        background: -moz-linear-gradient(top, rgba(63,32,110,1) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(63,32,110,1)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(top, rgba(63,32,110,1) 0%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(top, rgba(63,32,110,1) 0%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(63,32,110,1) 0%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(63,32,110,1) 0%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f206e', endColorstr='#ffffff', GradientType=0 );
    }
}

@media( max-width: 920px ) {

    .home{

        .svg-icon{
            width: 160px;
            height: 160px;
        }
        .icon-details{
            max-width: 280px;
        }

        // line 1
        #line-one{
            height: 1000px;
            width: 300px;
            background-image: url('/images/home-line-1-small.svg');
        }
        #svg-movellus{
            margin-bottom: -2px;
            margin-top: -80px;
        }
        #svg-clock{
            left: 70px;
            top: 170px;
        }
        #clock{
            left: 0;
            top: 360px;
        }
        #svg-chip{
            top: 705px;
        }
        #chip{
            top: 920px;
            left: 10px;
        }

        // line 2 + 3
        #line-two-three{
            background-image: url('/images/home-line-2-3-small.svg');
            width: 310px;
            margin-top: 220px;
        }
        #svg-battery{
            left: 70px;
            top: -80px;
        }
        #battery{
            left: 10px;
            top: 120px;
        }
        #svg-spiral{
            left: 70px;
            top: 284px;
        }
        #scalable{
            left: 15px;
            top: 475px;
            font-size: 17px;
            h2{
                letter-spacing: $medium-kerning / 2;
            }
        }
        #svg-tangram{
            top: 685px;
            left: 70px;
        }
        #svg-graph{
            left: 75px;
            top: 1100px;
        }
        #graph{
            left: 15px;
            top: 1290px;
        }

        #shield{
            margin-top: 120px;
        }
        #svg-shield{
            left: -77px;
            top: -158px;
        }
        #line-four{
            margin-top: 190px;
        }

    }

}

.icon-details{
    width: 400px;
    position: absolute;


    h2{
        font-family: $strong-font-family;
        letter-spacing: $medium-kerning;
        font-size: 24px;
    }
    text-align: center;
    font-size: 18px;
    line-height: 27px;
}


.banner{
    padding: $spacing-unit * 4 20px;
    background-color: $brand-color;
    color: white;
    text-align: center;
    font-family: $strong-font-family;
    
    h1{
        font-size: $base-font-size * 3.5;
        margin-bottom: 0;
        letter-spacing: 5px;
    }

    p{
        font-family: $base-font-family;
        letter-spacing: 5px;
    }
}






// THANKS PAGE
#thankyou{
    height: 100vh;padding-top: 77px; 
}


#sweetheart{
    display: block;
    margin: 20px auto 80px;
}





// TECH PAGE
#t-subheading{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    opacity: 0.7;
    margin-top: -60px;
    margin-bottom: 60px;
}
#gif-list li{
    list-style-type: none;
    margin: 5px;
    display: none;
}
li.active-gif{
    display: block !important;
}
#t-gifs, #t-labels{
    width: 50vw;
    float: left;
}
ul#gif-list{
    margin-right: 50px;
    float: right;
}
#gif-list img{
    max-width: 400px;
    max-height: 400px;
}
#labels-heading{
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: center;
    max-width: 800px;
    margin: 20px auto 60px;
    letter-spacing: 2px;
    font-size: larger;
    text-transform: uppercase;
}

#t-labels-wrapper{
    max-width: 500px;
}

#labels-list li.active-label{
    border: 1px solid rgba(63, 40, 110, 0.15);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 2px 2px 0;
    opacity: 1;
}
#labels-list{
    list-style-type: none;
}
#labels-list li{
    padding: 20px;
    margin-left: -30px;
    border: 1px solid transparent;
    opacity: 0.5;
    -webkit-animation: fadeInUp 1s ease-out forwards; 
    animation-name: fadeInUp 1s ease-out forwards;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
    &:nth-child(1){ -webkit-animation-delay: 0.2s; animation-delay: 0.2s }
    &:nth-child(2){ -webkit-animation-delay: 0.6s; animation-delay: 0.6s }
    &:nth-child(3){ -webkit-animation-delay: 1s; animation-delay: 1s }
}
#labels-list li:hover{
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.9;
}
.taphover strong{
    font-family: 'Montserrat';
    font-weight: lighter;
}



@media(max-width: 860px){
    #t-gifs, #t-labels, #t-labels-wrapper {
        width: 100vw;
        max-width: 100vw;

    }
    #gif-list img {
        max-width: 100vw;
    }
    ul#gif-list{
        max-width: 400px;
        margin: 0 auto 20px;
        float: none;
    }
    #t-labels-wrapper{
        overflow-x: scroll;
    }
    #labels-list{
        width: 1200px;
        margin-left: 0px;
    }

    #labels-list li, #labels-list li.active-label{
        float: left;
        width: 350px;
        max-width: 80vw;
        padding: 6px;
        display: inline;
        margin: 6px;
    }
}
























