<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    
<link rel="stylesheet" 
        href="{{ "/css/main.css" | prepend: site.baseurl }}">
  
<!-- Javascripts at the bottom to not block rendering -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300|Montserrat' rel='stylesheet' type='text/css'>

<script type="text/javascript">
    
    $(function(){
        $('.btn-more').on('click', function(e){
            e.preventDefault();
            $(this).find('span').toggle("visible invisible");
            $(this).parent().find('p').find('span').toggle("visible invisible")
        })
    });

</script>
<script>
// SCROOL TO ANCHOR
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
                       && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      var distanceFromTop = 90
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - distanceFromTop
        }, 800);
        return false;
      }
    }
  });
});
</script>
</body>

</html>
