<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
   
<!-- Javascripts at the bottom to not block rendering -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300|Montserrat' rel='stylesheet' type='text/css'>

<script type="text/javascript">
    
    $(function(){
        $('.btn-more').on('click', function(e){
            e.preventDefault();
            $(this).find('span').toggle("visible invisible");
            $(this).parent().find('p').find('span').toggle("visible invisible")
        })
    });

</script>

<script>
  var target = $(window).height() * 2;
  var showing = true;

  var interval = setInterval(function() {

    if ($(window).scrollTop() > target) {
      if(showing)
          hide_banner();
      }else{
        if (!showing)
          show_banner();
      }
  }, 200);

  var hide_banner = function () {
    $('#home-banner').hide();
    $('#white').removeClass('box-shadow');
    showing = false;
  }

  var show_banner = function () {
    $('#home-banner').show();
    $('#white').addClass('box-shadow');
    showing = true;
  }
</script>

<script>
  // // for tech page
  // $('li.taphover').on("touchstart mouseover", function (e) {
  //     "use strict"; //satisfy the code inspectors
  //     var label = $(this); //preselect the label
  //     if (label.hasClass('active-label')) {
  //         return true;
  //     } else {
  //         label.addClass("active-label");
          
  //         var gif = $('ul#gif-list li:eq(' + label.index() + ')');
  //         gif.addClass('active-gif');

  //         $('ul#gif-list li').not(gif).removeClass('active-gif');
          
  //         $('li.taphover').not(this).removeClass("active-label");
  //         e.preventDefault();
  //         return false; //extra, and to make sure the function has consistent return points
  //     }
  // });
</script>


</body>

</html>
